In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import dtale

In [2]:
data=pd.read_csv("../data/Final.csv")
data.head(5)

      Area         Item  Year  Yield   Pest Rainfall   Temp
0  Albania        Maize  1990  36613  121.0     1485  16.37
1  Albania     Potatoes  1990  66667  121.0     1485  16.37
2  Albania  Rice, paddy  1990  23333  121.0     1485  16.37
3  Albania      Sorghum  1990  12500  121.0     1485  16.37
4  Albania     Soybeans  1990   7000  121.0     1485  16.37

# DataFrame Information

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28248 entries, 0 to 28247
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Area      28248 non-null  object
 1   Item      28248 non-null  object
 2   Year      28248 non-null  int64
 3   Yield     28248 non-null  int64
 4   Pest      28248 non-null  float64
 5   Rainfall  28248 non-null  object
 6   Temp      28248 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.5+ MB

In [4]:
data.describe()

               Year          Yield           Pest          Temp
count  28248.000000   28248.000000   28248.000000  28248.000000
mean    2001.541950   77047.863282   37069.136973     20.543722
std        7.052997   84950.194454   59954.787836      6.311828
min     1990.000000      50.000000       0.040000      1.300000
25%     1995.000000   19918.750000    1695.710000     16.710000
50%     2001.000000   38295.000000   17517.760000     21.510000
75%     2008.000000  104598.250000   48687.880000     26.000000
max     2013.000000  501412.000000  367778.000000     30.650000

### Checking for Null Values

In [5]:
data.isna().sum()

Area        0
Item        0
Year        0
Yield       0
Pest        0
Rainfall    0
Temp        0
dtype: int64

In [6]:
data.dtypes

Area         object
Item         object
Year          int64
Yield         int64
Pest        float64
Rainfall     object
Temp        float64
dtype: object

In [7]:
d = dtale.show(data)

In [8]:
d.open_browser()

In [10]:
d.kill()

2023-03-28 13:49:39,276 - INFO     - Executing shutdown...
2023-03-28 13:49:39,278 - ERROR    - Exception on /shutdown [GET]
Traceback (most recent call last):
  File "/Users/parthkatiyar/miniforge3/envs/ai/lib/python3.8/site-packages/flask/app.py", line 2528, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/parthkatiyar/miniforge3/envs/ai/lib/python3.8/site-packages/flask/app.py", line 1825, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/parthkatiyar/miniforge3/envs/ai/lib/python3.8/site-packages/flask/app.py", line 1823, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/parthkatiyar/miniforge3/envs/ai/lib/python3.8/site-packages/flask/app.py", line 1799, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
  File "/Users/parthkatiyar/miniforge3/envs/ai/lib/python3.8/site-packages/dtale/app.py", line 435, in shutdown
    shutdown_server()
  File "/Users/parthkatiyar/miniforge3/envs/ai/lib/python3.8/site-packages/dtale/app.py", line 421, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server

In [13]:
from ydata_profiling import ProfileReport

2023-03-28 13:52:01,971 - INFO     - Pandas backend loaded 1.5.3
2023-03-28 13:52:01,974 - INFO     - Numpy backend loaded 1.23.2
2023-03-28 13:52:01,975 - INFO     - Pyspark backend NOT loaded
2023-03-28 13:52:01,975 - INFO     - Python backend loaded

In [14]:
report=ProfileReport(data, title="Yield Prediction Data Analysis")

In [16]:
report.to_widgets()

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [18]:
report.to_file("./EDAReport.pdf")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

/Users/parthkatiyar/miniforge3/envs/ai/lib/python3.8/site-packages/ydata_profiling/profile_report.py:355: UserWarning:

Extension .pdf not supported. For now we assume .html was intended. To remove this warning, please use .html or .json.

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# ⚠️InDepth Analysis

# ⚠️ Visualization