In [22]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import dtale
import seaborn as sns
from plotnine import aes,ggplot,geom_bar,theme_minimal,coord_flip,scale_x_discrete,guides,labs,geom_line

In [2]:
data=pd.read_csv("../data/Final.csv")
data.head(5)

      Area         Item  Year  Yield   Pest Rainfall   Temp
0  Albania        Maize  1990  36613  121.0     1485  16.37
1  Albania     Potatoes  1990  66667  121.0     1485  16.37
2  Albania  Rice, paddy  1990  23333  121.0     1485  16.37
3  Albania      Sorghum  1990  12500  121.0     1485  16.37
4  Albania     Soybeans  1990   7000  121.0     1485  16.37

# DataFrame Information

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28248 entries, 0 to 28247
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Area      28248 non-null  object
 1   Item      28248 non-null  object
 2   Year      28248 non-null  int64
 3   Yield     28248 non-null  int64
 4   Pest      28248 non-null  float64
 5   Rainfall  28248 non-null  object
 6   Temp      28248 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.5+ MB

In [4]:
data.describe()

               Year          Yield           Pest          Temp
count  28248.000000   28248.000000   28248.000000  28248.000000
mean    2001.541950   77047.863282   37069.136973     20.543722
std        7.052997   84950.194454   59954.787836      6.311828
min     1990.000000      50.000000       0.040000      1.300000
25%     1995.000000   19918.750000    1695.710000     16.710000
50%     2001.000000   38295.000000   17517.760000     21.510000
75%     2008.000000  104598.250000   48687.880000     26.000000
max     2013.000000  501412.000000  367778.000000     30.650000

### Checking for Null Values

In [5]:
data.isna().sum()

Area        0
Item        0
Year        0
Yield       0
Pest        0
Rainfall    0
Temp        0
dtype: int64

In [6]:
data.dtypes

Area         object
Item         object
Year          int64
Yield         int64
Pest        float64
Rainfall     object
Temp        float64
dtype: object

In [7]:
from ydata_profiling import ProfileReport

In [8]:
report=ProfileReport(data, title="Yield Prediction Data Analysis")

In [9]:
report.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [13]:
report.to_file("./EDAReport.pdf")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

/Users/parthkatiyar/miniforge3/envs/ai/lib/python3.8/site-packages/ydata_profiling/profile_report.py:355: UserWarning:

Extension .pdf not supported. For now we assume .html was intended. To remove this warning, please use .html or .json.

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# ⚠️InDepth Analysis

In [10]:
data.head(10)

      Area         Item  Year  Yield   Pest Rainfall   Temp
0  Albania        Maize  1990  36613  121.0     1485  16.37
1  Albania     Potatoes  1990  66667  121.0     1485  16.37
2  Albania  Rice, paddy  1990  23333  121.0     1485  16.37
3  Albania      Sorghum  1990  12500  121.0     1485  16.37
4  Albania     Soybeans  1990   7000  121.0     1485  16.37
5  Albania        Wheat  1990  30197  121.0     1485  16.37
6  Albania        Maize  1991  29068  121.0     1485  15.36
7  Albania     Potatoes  1991  77818  121.0     1485  15.36
8  Albania  Rice, paddy  1991  28538  121.0     1485  15.36
9  Albania      Sorghum  1991   6667  121.0     1485  15.36

In [20]:
#Representation of crop as per yield 
df1=data.groupby(['Item'])['Yield'].aggregate('sum').reset_index(name='Yield') #creation of dataframe based on cropwise yield
df_1=df1.sort_values(by=['Yield'], ascending=False) #Sorting of values as per order of yield
print(df_1) #printing

p=ggplot(df_1, aes(x='Item',y='Yield',fill='Item'))+ geom_bar(stat="identity")+theme_minimal()+coord_flip()+ scale_x_discrete(limits=df_1['Item'].tolist()[::-1]) #plotting yield and crop using ggplot
p=p+guides(fill = False, color = False, linetype = False, shape = False)#removing redundant legends 
p+labs(title = "Crop-wise yield barplot",x = "Item", y = "Yield") #adding up title and labels to thr x and y axis
p.save(filename="../visualizations/yieldPlot.png")

                   Item      Yield
3              Potatoes  854351426
7        Sweet potatoes  344146527
0               Cassava  307937177
1                 Maize  149665468
4           Rice, paddy  137994713
8                 Wheat  116158445
9                  Yams   96676873
2  Plantains and others   58958974
5               Sorghum   56634127
6              Soybeans   53924312

/Users/parthkatiyar/miniforge3/envs/Ai/lib/python3.8/site-packages/plotnine/ggplot.py:718: PlotnineWarning: Saving 6.4 x 4.8 in image.
/Users/parthkatiyar/miniforge3/envs/Ai/lib/python3.8/site-packages/plotnine/ggplot.py:719: PlotnineWarning: Filename: ../visualizations/yieldPlot.png

### Usuage of Pesticides

In [25]:
#visualization of how use of pesticides increased in years
df_py=data.groupby(['Year'])['Pest'].aggregate('sum').reset_index(name='pestcide') #creating dataframe yearwise total pesticide used
#df_1=df1.sort_values(by=[''], ascending=False)
#print(df_1)
ggplot(df_py, aes('Year','Pest'))+ geom_line(colour='purple')+theme_minimal()+labs(title = "Usage of Pesticides over the year",x = "Year", y = "Pesticides")
#ploting pasticide vs year using ggplot, changing of colour,theme, title, labels for better visualization

PlotnineError: "Could not evaluate the 'y' mapping: 'Pest' (original error: name 'Pest' is not defined)"